.navbar-project {
  background-color: var(--color-black);
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 999;
}

.text-navbar-links {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: lighter;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--color-white);
  transition: 0.1s ease;
}

.text-navbar-links:hover {
  transition: 0.1s ease;
  border-bottom: 3px solid var(--color-white);
}

#toggler-icon-project {
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}

.text-nabvar-brand {
  font-family: Pinyon;
  color: var(--color-white);
  font-size: 2.5rem;
  text-decoration: none;
  cursor: pointer;
}

.text-nabvar-brand:hover {
  font-family: Pinyon;
  color: rgb(117, 117, 117);
  font-size: 2.5rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar-icon {
  width: 40px;
  height: 40px;
}

.btn-login {
  color: var(--color-white);
  font-family: Cormorant;
}

.about-project-link {
  position: absolute;
  top: 28px;
  left: 70px;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
.login-container {
  position: absolute;
  right: 1.5rem;
  display: flex;
  gap: 20px;
}
.left-container {
  padding: 1.5rem;
  position: absolute;
  left: 4.5rem;
}

.nav-general-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.nav-brands-right,
.nav-brands-left {
  width: 400px;
}
.nav-brands-left {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.font-quicksand {
  font-family: Quicksand;
  letter-spacing: 2px;
}
.nav-brands-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}
.nav-brand {
  width: 400px;
  text-align: center;
}

.navbar-align-left {
  display: flex;
  justify-content: start;
}
.btn-nav:hover {
  border-bottom: 1px solid white;
}
.color-red {
  color: rgb(255, 0, 0);
}
