.img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.bg-header {
  background-color: var(--color-grey-header) !important;
  color: black !important;
}

.title-tables {
  position: relative;
  top: 0px;
  bottom: 0px;
}
